* {
    margin: 0;
    padding: 0.1rem;
    box-sizing: border-box;
}

html , body{
    background-color: rgb(113, 107, 169);
    height: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.fa-heart {
    font-size:48px;
    color:red;
    left: 0%;   
}

section {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,11rem);
    grid-template-rows: repeat(3,11rem);
    grid-gap: 2rem;
    perspective: 800;
    background: rgba(34, 6, 117, 0.23);
}

.card{
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 2s cubic-bezier(0.175,0.885,0.32,1.275);
    box-shadow: rgba(0,0,0,0.4) 0px 5px 15px ;
    border-radius: 20%;
}

.face, .back{
    width: calc(100%);
    height: calc(100%);
    position: absolute;
    pointer-events: none;
    border-radius: 20%;
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.4);
}

.back{
    background: rgb(205, 215, 4);
    backface-visibility: hidden;
}

.toggleCard{
    transform: rotateY(180deg);
}

.face{
    transform: rotateY(-180deg);
}

.game-option {
    text-align: center;
    font-family: Arial;
    padding: 16px 16px;
    border-radius: 12px;
    font-size: large;
}

#start {
    background-color: rgb(68, 180, 68);
}

#pause {
    background-color: rgb(180, 68, 68);
}

#restart {
    background-color: rgb(209, 225, 30);
}

.column2 button:hover{
    background-color: rgb(83, 83, 83);
    color: white;
}